@page 
@model ProjectThoiTrang.Pages.Cart.PaymentCallBackModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Payment Callback</title>
</head>
<body>
    <h1>Payment Callback</h1>
    <p>@ViewData["Message"]</p>
</body>
</html>