@page
@model ProjectThoiTrang.Pages.Account.CanhBaoModel
@{
	ViewData["Title"] = "Cảnh báo";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1> Tài khoản của bạn không tồn tại hoặc đang bị vô hiệu hóa hãy liên hệ quản trị viên để biết thêm thông tin</h1>