USE [master]
GO
/****** Object:  Database [WebFashion]    Script Date: 22/04/2024 12:19:07 SA ******/
CREATE DATABASE [WebFashion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebFashion', FILENAME = N'D:\Microsoft SQL Server 2\MSSQL16.MSSQLSERVER01\MSSQL\DATA\WebFashion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebFashion_log', FILENAME = N'D:\Microsoft SQL Server 2\MSSQL16.MSSQLSERVER01\MSSQL\DATA\WebFashion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebFashion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebFashion]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Email] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Active] [bit] NULL,
	[RoleId] [int] NULL,
	[CreateDate] [date] NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[CusId] [int] NULL,
	[Paid] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[CreateDate] [date] NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CatId] [int] IDENTITY(1,1) NOT NULL,
	[Catname] [nvarchar](max) NULL,
	[Published] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CusId] [int] NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Birthday] [date] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](250) NULL,
	[Phone] [nvarchar](max) NULL,
	[CreateDate] [date] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderId] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NULL,
	[OrderDate] [date] NULL,
	[TransactionStatus] [nvarchar](50) NULL,
	[Deleted] [bit] NULL,
	[Paid] [bit] NULL,
	[PaymentDate] [date] NULL,
	[Amount] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Orders__C3905BCF8A47A5D5] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Productname] [nvarchar](max) NULL,
	[ShortDesc] [varchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[CatId] [int] NULL,
	[Price] [int] NULL,
	[Discount] [int] NULL,
	[Thumb] [nvarchar](max) NULL,
	[DateCreated] [date] NULL,
	[DateModified] [date] NULL,
	[BestSellers] [bit] NULL,
	[Homeflag] [bit] NULL,
	[Active] [bit] NULL,
	[Tags] [nvarchar](max) NULL,
	[Stock] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[BrandId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22/04/2024 12:19:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Email], [Password], [Active], [RoleId], [CreateDate], [AccountId]) VALUES (N'admin', N'12345', 1, 1, CAST(N'2024-03-15' AS Date), 2)
INSERT [dbo].[Account] ([Email], [Password], [Active], [RoleId], [CreateDate], [AccountId]) VALUES (N'minhy111@gmail.com', N'123123', 1, 2, CAST(N'2024-04-21' AS Date), 898599936)
INSERT [dbo].[Account] ([Email], [Password], [Active], [RoleId], [CreateDate], [AccountId]) VALUES (N'minhy123@mail.com', N'123123', 1, 2, CAST(N'2024-04-21' AS Date), 1835417835)
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [BrandName], [Description]) VALUES (2, N'H&M', N'H&M là một thương hiệu thời trang Thụy Điển, nổi tiếng với việc cung cấp các sản phẩm thời trang phong cách và giá cả phải chăng cho mọi lứa tuổi.')
INSERT [dbo].[Brand] ([BrandId], [BrandName], [Description]) VALUES (3, N'Gucci', N'Gucci là một trong những thương hiệu thời trang hàng đầu thế giới, nổi tiếng với các sản phẩm cao cấp và phong cách độc đáo.')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [CusId], [Paid]) VALUES (1, 1, 0)
INSERT [dbo].[Cart] ([CartId], [CusId], [Paid]) VALUES (8, 215339190, 0)
INSERT [dbo].[Cart] ([CartId], [CusId], [Paid]) VALUES (11, 1835417835, 0)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
INSERT [dbo].[CartDetail] ([CartId], [ProductId], [Quantity], [CreateDate], [Price]) VALUES (11, 11, 1, CAST(N'2024-04-21' AS Date), CAST(1431000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CatId], [Catname], [Published]) VALUES (1, N'Áo', 1)
INSERT [dbo].[Category] ([CatId], [Catname], [Published]) VALUES (2, N'Quần', 1)
INSERT [dbo].[Category] ([CatId], [Catname], [Published]) VALUES (3, N'Váy', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Customer] ([CusId], [Fullname], [Birthday], [Address], [Email], [Phone], [CreateDate], [Active]) VALUES (1, N'Nguyễn Hồ Minh Ý', CAST(N'2003-08-12' AS Date), N'HCM', N'nguyenhominhy@gmail.com', N'123456789', CAST(N'2024-04-17' AS Date), 1)
INSERT [dbo].[Customer] ([CusId], [Fullname], [Birthday], [Address], [Email], [Phone], [CreateDate], [Active]) VALUES (215339190, N'minh y', CAST(N'2024-04-01' AS Date), N'Hồ Chí Minh', N'user@gmail.com', N'0123456789', CAST(N'2024-04-21' AS Date), 1)
INSERT [dbo].[Customer] ([CusId], [Fullname], [Birthday], [Address], [Email], [Phone], [CreateDate], [Active]) VALUES (806724838, N'Nguyen ho minh y', CAST(N'2003-08-12' AS Date), N'Hồ Chí Minh', N'minhyminhy@gmail.com', N'0123456789', CAST(N'2024-04-21' AS Date), 1)
GO
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (N'638493028836182359', 1, 1, CAST(3890000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (N'638493028836182359', 5, 1, CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (N'638493196038094007', 11, 2, CAST(2862000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [TransactionStatus], [Deleted], [Paid], [PaymentDate], [Amount]) VALUES (N'638493028836182359', 1, CAST(N'2024-04-21' AS Date), N'14386316', 0, 1, CAST(N'2024-04-21' AS Date), CAST(3890100 AS Decimal(18, 0)))
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [TransactionStatus], [Deleted], [Paid], [PaymentDate], [Amount]) VALUES (N'638493196038094007', 898599936, CAST(N'2024-04-21' AS Date), N'0', 1, 0, CAST(N'2024-04-21' AS Date), CAST(3180000 AS Decimal(18, 0)))
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [TransactionStatus], [Deleted], [Paid], [PaymentDate], [Amount]) VALUES (N'638493199162562997', 898599936, CAST(N'2024-04-21' AS Date), N'0', 1, 0, CAST(N'2024-04-21' AS Date), CAST(3180000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Productname], [ShortDesc], [Description], [CatId], [Price], [Discount], [Thumb], [DateCreated], [DateModified], [BestSellers], [Homeflag], [Active], [Tags], [Stock], [Title], [BrandId]) VALUES (1, N'MLB - Áo Thun Unisex Cổ Tròn Tay Ngắn Varsity New York Yankees', N'Áo MLB', N'Áo MLB chất lượng cao', 1, 3890000, 0, N'mlb-ao-thun-unusex-c-trn-tau-ngn-uarsutu-new-uork-uankees.jpg', CAST(N'2024-03-16' AS Date), CAST(N'2024-04-20' AS Date), 1, 1, 1, N'Ao,AoMLB', 8, N'Ao', 1)
INSERT [dbo].[Product] ([ProductId], [Productname], [ShortDesc], [Description], [CatId], [Price], [Discount], [Thumb], [DateCreated], [DateModified], [BestSellers], [Homeflag], [Active], [Tags], [Stock], [Title], [BrandId]) VALUES (2, N'MLB - Áo Sơ Mi Denim Unisex Tay Ngắn Basic Multi Mega Logo Prints', N'Short description 1', N'Description 1', 1, 3890000, 0, N'mlb-ao-s-mu-denum-unusex-tau-ngn-basuc-multu-mega-logo-prunts.jpg', CAST(N'2024-03-16' AS Date), CAST(N'2024-04-21' AS Date), 0, 0, 1, N'tag1', 10, N'Title 1', 1)
INSERT [dbo].[Product] ([ProductId], [Productname], [ShortDesc], [Description], [CatId], [Price], [Discount], [Thumb], [DateCreated], [DateModified], [BestSellers], [Homeflag], [Active], [Tags], [Stock], [Title], [BrandId]) VALUES (3, N'MLB - Áo Thun Unisex Cổ Tròn Tay Ngắn Phối Logo Nhỏ New York Yankees', N'Short description 1', N'Description 1', 1, 3890000, 0, N'mlb-ao-thun-unusex-c-trn-tau-ngn-phu-logo-nh-new-uork-uankees.jpg', CAST(N'2024-03-16' AS Date), CAST(N'2024-04-21' AS Date), 0, 1, 1, N'tag1', 10, N'Title 1', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị ')
INSERT [dbo].[Role] ([RoleId], [RoleName], [Description]) VALUES (2, N'Khách hàng', N'Khách hàng')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CusId])
REFERENCES [dbo].[Customer] ([CusId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order1] FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([CartId])
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_OrderDetail_Order1]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product1] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_OrderDetail_Product1]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Email])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders1] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CusId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([CatId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
