@page
@model ProjectThoiTrang.Pages.Home.ContactModel
@{
    ViewData["Title"] = "Thông tin liên hệ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.140634377855!2d106.70343867480533!3d10.800539089349725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ba1cb685bd%3A0xb9f804a2ed48643a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBRdeG7kWMgdOG6vyBI4buTbmcgQsOgbmcgKEhJVSk!5e0!3m2!1svi!2s!4v1712464624182!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Map End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>THÔNG TIN</span>
                        <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                        <p>
                            Chúng tôi cung cấp những mẫu thời trang hiện đại.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>Việt Nam</h4>
                            <p>215 Đ. Điện Biên Phủ, Phường 15, Bình Thạnh, Thành phố Hồ Chí Minh<br />+43 982-314-0958</p>
                        </li>                        
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</section>
<!-- Contact Section End -->


